<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="key" value="ZsHptZ5sjH5kcTe" />
  <add key="custom_111" value="https://google.com" />
  <add key="custom_211" value="https://abc.com/schedule" />
  <add key="custom_432" value="https://rokolabs.com/about" />
</appSettings>
