<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>redirect to</title>
    <style>
        html {
            font-family: "Tahoma";
            background-color: black;
            color: white;
            font-size: 11pt;
        }
    </style>
</head>
<body>
     <div>/?</div>
</body>
</html>
