<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <style>
        html {
            font-family: "Tahoma";
            background-color: black;
            color: white;
            font-size: 11pt;
        }
        input {
            border: 0;
            background: #eee;
            -webkit-appearance: none;
            box-shadow: none;
            border-radius: 0px;
        }
        input:focus,select:focus,textarea:focus,button:focus {
            outline: none;
        }
    </style>
</head>
<body>
    <form method="POST">
        Key: <input type="password" id="key" name="key" style="width: 120px;"/>
        <button type="submit">Login</button>
    </form>
</body>
</html>
